{% extends "base.html" %}

{% block navbar-active-gallery %}active{% endblock %}

{% block extra_js %}
    {{ block.super }}

	<!-- Add fancyBox -->
	<link rel="stylesheet" href="{{ STATIC_URL }}fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
	
	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="{{ STATIC_URL }}fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script type="text/javascript" src="{{ STATIC_URL }}fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
	
	<link rel="stylesheet" href="{{ STATIC_URL }}fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script type="text/javascript" src="{{ STATIC_URL }}fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
{% endblock extra_js %}